
<button (click)="attack()">Simulate</button>
<button (click)="reset()">Reset</button>
<ng-template [ngIf]="battleLog !== ''">
<div *ngFor="let turn of battleLog | async">
  Turn: {{turn.turn}}
  Your Troops Left: {{turn.troopsLeftHuman}}
  AI Troops Left: {{turn.troopsLeftAI}}

</div></ng-template>
<h3>You</h3>
  <div class="fw-bold"*ngIf="selectedComms.length >0  " [innerHTML]="selectedComms[0].name"> </div>
  <div *ngIf="selectedComms.length == 2 " [innerHTML]="selectedComms[1].name"> </div>

  <p class="fw-semibold">Troops</p>

<c-progress class="mb-3">
  <c-progress-bar [color]="getPercentClass(human)"  [value]="human.troops" [max]="human.startingTroops">{{human.troops}}</c-progress-bar>
</c-progress>
<p class="fw-semibold">Rage</p>
{{human.rage}}
<c-progress class="mb-3" thin >
  <c-progress-bar [color]="(human.proc)  ? 'danger' : 'info'"  [value]="human.rage" [max]="1000"></c-progress-bar>
</c-progress>

<h3>Opposition</h3>

  <p class="fw-semibold">Troops</p>
<c-progress class="mb-3">
  <c-progress-bar [color]="getPercentClass(AI)"  [value]="AI.troops" [max]="AI.startingTroops">{{AI.troops}}</c-progress-bar>
</c-progress>
<p class="fw-semibold">Rage</p>

<c-progress class="mb-3" thin >
  <c-progress-bar  [color]="(AI.proc)  ? 'danger' : 'info'"  [value]="AI.rage" [max]="1000"></c-progress-bar>
</c-progress>
<div *ngIf="human.proc">Human Rage Hit</div>
<div *ngIf="AI.proc">AI Rage Hit</div>


