<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Commanders</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
          <tr>
            <th class="text-center">
              <!--
                            <svg cIcon name="cilPeople"></svg>
              -->
            </th>
            <th>Name</th>
            <th>Talents</th>
            <th>Skills</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of commandersList$ | async">
            <td class="text-center">
              <c-avatar
                size="md"
                src="assets/images/commanders/{{ user.name }}.png"
                status="{{ user.red }}"
              ></c-avatar>
            </td>
            <td>
              <div>{{ user.name }}</div>
              <div class="small"> {{user.title}}</div>

            </td>
            <td>
              <strong>{{ user.commanderType.red }}</strong><br>
              <strong>{{ user.commanderType.blue }}</strong><br>
              <strong>{{ user.commanderType.yellow }}</strong>
            </td>
            <td>
              <strong>{{ user.commanderType.red }}</strong><br>
              <strong>{{ user.commanderType.blue }}</strong><br>
              <strong>{{ user.commanderType.yellow }}</strong>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<!--
<app-widgets-dropdown>

</app-widgets-dropdown>
-->
