
<div class="wrapper">


</div>


<div class="wrapper-grid">
  <div class="box a"></div>
  <div class="box b">B</div>
  <div class="box c">
    <div class="wrapper2">


      <div class="box2" *ngFor="let comm of commandersList$ | async" (click)="selectedComms  = comm ">

        <c-card class="mb-4">
          <c-card-body>
            <c-avatar
              size="md"
              src="assets/images/commanders/{{ comm.name }}.png"
              status="{{ comm.red }}"
            ></c-avatar>
            {{comm.name }}
          </c-card-body>
        </c-card>
      </div>
    </div>
  </div>
  <div class="box d" *ngIf="selectedComms !==null">
    <div class="box e">
      <c-avatar (click)="skillSelected = selectedComms.commanderTalents.activeSkill"
                size="md"
                src="assets/images/commanders/{{ selectedComms.name }}.png"
      ></c-avatar>
      <c-avatar *ngFor="let passiveSkill of selectedComms.commanderTalents.passiveSkills" (click)="skillSelected = passiveSkill"
                size="md"
                src="assets/images/commanders/{{ selectedComms.name }}.png"
      ></c-avatar>
      <!--
            <strong >{{selectedComms.commanderTalents.activeSkill.name}}</strong>
      -->
      <!--
            <strong *ngFor="let passiveSkill of selectedComms.commanderTalents.passiveSkills" (click)="skillSelected = passiveSkill">{{passiveSkill.name}}</strong>
      -->
    </div>
    <input type="number" max="5" min="0" [(ngModel)]="skillNumber">
    <div class="box f" *ngIf="skillSelected !==null">
      <strong>{{ skillSelected.name}}</strong><br>
      <span class="text-danger">{{ skillSelected.rageRequirement}}</span><br>
      {{ skillSelected.text}}<br>
      <div *ngFor="let skill of skillSelected.upgrade">{{skill.name}} <span *ngFor="let bonus of skill.bonus; let i = index" [ngClass]="{'bold':  i+1 == skillNumber}">{{bonus}}</span> <br></div>
      <!--      <ng-container *ngFor="let passiveSkill of selectedComms.commanderTalents.passiveSkills">
              <strong>{{ passiveSkill.name}}</strong><br>
              {{ passiveSkill.text}}<br>
              <div *ngFor="let skill of passiveSkill.upgrade">{{skill.name}} <span
                *ngFor="let bonus of skill.bonus"> {{bonus}}</span> <br></div>

            </ng-container>-->
    </div>
  </div>
</div>
<button (click)="attack()">Simulate</button>
<button (click)="reset()">Reset</button>

{{human | json}}
{{AI | json}}

Winner{{ human.troops > AI.troops ? 'You!': 'AI Boo!'}}

{{ human.troops}}

{{AI.troops }}

<div *ngFor="let turn of battleLog">
  Turn: {{turn.turn}}
  Your Troops Left: {{turn.troopsLeftHuman}}
  AI Troops Left: {{turn.troopsLeftAI}}

</div>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Commanders</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
          <tr>
            <th class="text-center">
              <!--
                            <svg cIcon name="cilPeople"></svg>
              -->
            </th>
            <th>Name</th>
            <th>Talents</th>
            <th>Active Skill</th>
            <th>Passive Skills</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of commandersList$ | async">
            <td class="text-center">
              <c-avatar
                size="md"
                src="assets/images/commanders/{{ user.name }}.png"
                status="{{ user.red }}"
              ></c-avatar>
            </td>
            <td>
              <div>{{ user.name }}</div>
              <div class="small"> {{user.title}}</div>

            </td>
            <td>
              <strong>{{ user.commanderType.red }}</strong><br>
              <strong>{{ user.commanderType.blue }}</strong><br>
              <strong>{{ user.commanderType.yellow }}</strong>
            </td>
            <td>
              <strong>{{ user.commanderTalents.activeSkill.name}}</strong><br>
              <span class="text-danger">{{ user.commanderTalents.activeSkill.rageRequirement}}</span><br>
              {{ user.commanderTalents.activeSkill.text}}<br>
              <div *ngFor="let skill of user.commanderTalents.activeSkill.upgrade">{{skill.name}} <span
                *ngFor="let bonus of skill.bonus"> {{bonus}}</span> <br></div>


            </td>
            <td>
              <ng-container *ngFor="let passiveSkill of user.commanderTalents.passiveSkills">
                <strong>{{ passiveSkill.name}}</strong><br>
                {{ passiveSkill.text}}<br>
                <div *ngFor="let skill of passiveSkill.upgrade">{{skill.name}} <span
                  *ngFor="let bonus of skill.bonus"> {{bonus}}</span> <br></div>

              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<!--
<app-widgets-dropdown>

</app-widgets-dropdown>
-->
