<div class="box a"></div>
<div class="box b">B</div>
<div class="box c">
  <div class="wrapper2">
    <div class="box2" *ngFor="let comm of commanderList$ | async" (click)="addCommader(comm); this.selectedComms = comm" >
      <c-card class="mb-4"
      [color]="isSelected(comm.id) ? 'danger' : ''"
      [class]="comm.tier"
      >
        <c-card-body>
          <c-avatar
            size="md"
            src="assets/images/commanders/{{ comm.name }}.png"
            status="{{ comm.red }}"
          ></c-avatar>
          {{comm.name }}
        </c-card-body>
      </c-card>
    </div>
  </div>
</div>

<div class="box d" *ngIf="comms !== [] && selectedComms !== null ">
  <div class="box e">
    <c-avatar (click)="skillSelected = selectedComms.commanderTalents.activeSkill"
              size="md"
              src="assets/images/commanders/{{ selectedComms.name }}.png"
    ></c-avatar>
    <c-avatar *ngFor="let passiveSkill of selectedComms.commanderTalents.passiveSkills" (click)="skillSelected = passiveSkill"
              size="md"
              src="assets/images/commanders/{{ selectedComms.name }}.png"
    ></c-avatar>
  </div>
  <input type="number" max="5" min="0" [(ngModel)]="skillNumber">
  <div class="box f" *ngIf="skillSelected !==null">
    <strong>{{ skillSelected.name}}</strong><br>
    <span class="text-danger">{{ skillSelected.rageRequirement}}</span><br>
    {{ skillSelected.text}}<br>
    <div *ngFor="let skill of skillSelected.upgrade">{{skill.name}} <span *ngFor="let bonus of skill.bonus; let skillCount = index" [ngClass]="{'bold':  skillCount == skillNumber}">{{bonus}}  </span> <br></div>
  </div>
</div>
